<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Soldank++ is a 2D side-view arcade game based on passing
    various maps of difficulty with the possibility of achieving faster times than other players.">
    <title>{% block title %}Soldank++{% endblock %}</title>

    {% load sass_tags %}
    {% load static %}

    <meta name="author" content="YETi">
    <link rel="author" href="https://www.youtube.com/@soldank-plus-plus">

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="x-icon" href="static/images/logo.png">

    <link rel="stylesheet" href="{% sass_src 'sass/styles.scss' %}">
    <link rel="stylesheet" href="{% sass_src 'sass/pages/_base.scss' %}">
    <script src="{% static 'js/faq-toggle.js' %}"></script>
    <script src="{% static 'js/hamburger.js' %}"></script>
</head>

<body>
    <header>
        <nav>
            <ul class="sidebar">
                <li onclick=hideSidebar()>
                    <a href="{% url 'base' %}">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="26"
                        viewBox="0 96 960 960"
                        width="26">
                    <path d="m249 849-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/>
                    </svg>
                    </a>
                </li>
                <li><a href="{% url 'base' %}">Home</a></li>
                <li><a href="{% url 'gamemodes' %}">Gamemodes</a></li>
                <li><a href="{% url 'ranking' %}">Ranking</a></li>
                <li><a href="{% url 'tutorials' %}">Tutorials</a></li>
                <li><a href="{% url 'servers' %}">Servers</a></li>
            </ul>
            <ul>
                <a href="{% url 'base' %}" class="logo">Soldank++</a>
                <li class="hide"><a href="{% url 'base' %}">Home</a></li>
                <li class="hide"><a href="{% url 'gamemodes' %}">Gamemodes</a></li>
                <li class="hide"><a href="{% url 'ranking' %}">Ranking</a></li>
                <li class="hide"><a href="{% url 'tutorials' %}">Tutorials</a></li>
                <li class="hide"><a href="{% url 'servers' %}">Servers</a></li>
                <li class="megaburger" onclick=showSidebar()>
                    <a href="{% url 'base' %}">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="26"
                        viewBox="0 96 960 960"
                        width="26">
                        <path d="M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z"/>
                    </svg>
                    </a>
                </li>
            </ul>
          </nav>
    </header>

    <main>
        {% block content %}
        <section class="blocks">
            <h1>Unique 2D (side-view) multiplayer arcade game<br>
                <span>Soldank++</span>
            </h1>
            <p>The main part of the game is based on passing various maps of difficulty
                with the possibility of achieving faster times than other players.<br>
            Side modes offer a variety of multiplayer options including shooting competition,
                hide and seek, dodgeball, zombies and more!
            </p>
            <a href="https://discord.gg/YTHDmChb" class="btn">Early Access</a>
        </section>
        
        <div class="wrapper">
            <iframe src="https://www.youtube.com/embed/Oyx72xEmqaY?si=v34vyPApxLry3cDp"></iframe>
        </div>

        <section class="content">
            <div class="card">
                <h2>Project is open source</h2>
                <a class="github" href="https://github.com/nedik/soldank-plus-plus" target="_blank">
                    <img class="github" src="{% static '/images/github.png' %}" alt="Github logo">
                </a>
                <p>Check out the repository, contribute, suggest a feature or give feedback!</p>
            </div>
            <div class="card">
                <h2>Join us on</h2>
                <a class="discord" href="https://discord.gg/YTHDmChb" target="_blank">
                    <img class="discord" src="{% static 'images/discord.png' %}" alt="Discord invite">
                </a>
                <p>Get in touch and follow us on Soldank++ discord for latest information about development.</p>
            </div>
            <div class="card">
                <h2>Game is a clone of</h2>
                <a class="soldat" href="https://en.wikipedia.org/wiki/Soldat_(video_game)" target="_blank">
                    <img class="soldat" src="{% static 'images/soldat.png' %}" alt="Soldat logo">
                </a>
                <p>Rewritten code of Soldat game engine in a modern style with fully authentic look and feel.</p>
            </div>
        </section>

        <section class="faq">
            <h2>Frequently Asked Questions</h2>
            <div class="faq-item">
                <div class="faq-question" id="faq1">
                    <h3>What exactly is Soldank++?</h3>
                </div>
                <div class="faq-answer">
                    <p>Soldank++ is a unique 2D (side-view) multiplayer arcade game by Nedi. The game is a clone of Soldat game
                        engine rewritten from Pascal to modern C++ with exactly the same look and feel.
                    </p>
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-question" id="faq2">
                    <h3>What's the primary objective?</h3>
                </div>
                <div class="faq-answer">
                    <p>The primary objective is to replicate all existing core mechanics precisely while expanding upon them.
                        Furthermore, the project is committed to fully replacing certain legacy features. More detailed info in #plan on Soldank++ discord.
                    </p>
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-question" id="faq2">
                    <h3>Does the game support cross-platform play?</h3>
                </div>
                <div class="faq-answer">
                    <p>Cross compilation is available on Linux and Windows (macOS should be possible as well but it was not tested).</p>
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-question" id="faq2">
                    <h3>Why C++?</h3>
                </div>
                <div class="faq-answer">
                    <p>Initially, main developer (Nedi) wanted to learn the new C++ standard and at some point just started making Soldat clone for fun,
                        but then it turned into a full-fledged project. Additionally there is already a Rust version by helloer. The name was inspired
                        by his version and "++" was added to emphasize on the fact that it was written in modern C++.</p>
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-question" id="faq2">
                    <h3>How can I contribute?</h3>
                </div>
                <div class="faq-answer">
                    <p>Just fork the repository 
                        <a href="https://github.com/nedik/soldank-plus-plus" target="_blank">from here</a>
                        and create a pull request. We can discuss the changes in #dev_chat on discord and we'll be happy to help with anything!
                    </p>
                </div>
            </div>
        </section>
        {% endblock %}
    </main>

    <footer>
        <p>&copy; Soldank++ Development</p>

        <div class="social-media">
            <a href="https://www.tiktok.com/@soldank_plus_plus" target="_blank" class="social-icon">
                <i class="fab fa-tiktok"></i>
            </a>
            <a href="https://discord.gg/YTHDmChb" target="_blank" class="social-icon">
                <i class="fab fa-discord"></i>
            </a>
            <a href="https://www.youtube.com/@soldank-plus-plus" target="_blank" class="social-icon">
                <i class="fab fa-youtube"></i>
            </a>
            <a href="https://github.com/nedik/soldank-plus-plus" target="_blank" class="social-icon">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </footer>
</body>
</html>
