<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Basic template of Django application.">
    <title>{% block title %}Django Application{% endblock %}</title>

    {% load sass_tags %}
    {% load static %}

    <meta name="author" content="Maxus">

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="x-icon" href="static/images/logo.png">

    <link rel="stylesheet" href="{% sass_src 'sass/styles.scss' %}">
    <link rel="stylesheet" href="{% sass_src 'sass/pages/_base.scss' %}">
    <script src="{% static 'js/faq-toggle.js' %}"></script>
    <script src="{% static 'js/hamburger.js' %}"></script>
</head>

<body>
    <header>
        <nav>
            <ul class="sidebar">
                <li onclick=hideSidebar()>
                    <a href="{% url 'base' %}">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="26"
                        viewBox="0 96 960 960"
                        width="26">
                    <path d="m249 849-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/>
                    </svg>
                    </a>
                </li>
                <li><a href="{% url 'base' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'download' %}">Download</a></li>
                <li><a href="{% url 'tutorials' %}">Tutorials</a></li>
                <li><a href="{% url 'servers' %}">Servers</a></li>
            </ul>
            <ul>
                <a href="{% url 'base' %}" class="logo">Django Application</a>
                <li class="hide"><a href="{% url 'base' %}">Home</a></li>
                <li class="hide"><a href="{% url 'about' %}">About</a></li>
                <li class="hide"><a href="{% url 'download' %}">Download</a></li>
                <li class="hide"><a href="{% url 'tutorials' %}">Tutorials</a></li>
                <li class="hide"><a href="{% url 'servers' %}">Servers</a></li>
                <li class="megaburger" onclick=showSidebar()>
                    <a href="{% url 'base' %}">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="26"
                        viewBox="0 96 960 960"
                        width="26">
                        <path d="M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z"/>
                    </svg>
                    </a>
                </li>
            </ul>
          </nav>
    </header>

    <main>
        {% block content %}
        <section class="blocks">
            <h1>Basic template of<br>
                <span>Django Application</span>
            </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, sunt atque iure assumenda voluptatibus
                commodi ea ullam magni fuga nam quam nisi labore veniam, magnam corrupti aspernatur eaque reprehenderit ipsa.
            </p>
            <a href="https://www.djangoproject.com" class="btn">Early Access</a>
        </section>
        
        <div class="wrapper">
            <iframe src="https://www.youtube.com/watch?v=0sMtoedWaf0"></iframe>
        </div>

        <section class="content">
            <div class="card">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <a class="github" href="https://www.djangoproject.com" target="_blank">
                    <img class="github" src="{% static '/images/github.png' %}" alt="Github logo">
                </a>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, explicabo.</p>
            </div>
            <div class="card">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <a class="github" href="https://www.djangoproject.com" target="_blank">
                    <img class="github" src="{% static '/images/github.png' %}" alt="Github logo">
                </a>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, explicabo.</p>
            </div>
            <div class="card">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <a class="github" href="https://www.djangoproject.com" target="_blank">
                    <img class="github" src="{% static '/images/github.png' %}" alt="Github logo">
                </a>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, explicabo.</p>
            </div>
        </section>

        <section class="faq">
            <h2>Frequently Asked Questions</h2>
            <div class="faq-item">
                <div class="faq-question" id="faq1">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur velit tenetur asperiores quasi aut id.</h3>
                </div>
                <div class="faq-answer">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere cum accusantium tempore aliquid quidem, vero optio pariatur quia quas repellendus.
                    </p>
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-question" id="faq2">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur velit tenetur asperiores quasi aut id.</h3>
                </div>
                <div class="faq-answer">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere cum accusantium tempor aliquid quidem, vero optio pariatur quia quas repellendus.
                    </p>
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-question" id="faq2">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur velit tenetur asperiores quasi aut id.</h3>
                </div>
                <div class="faq-answer">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere cum accusantium tempore aliquid quidem, vero optio pariatur quia quas repellendus.</p>
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-question" id="faq2">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur velit tenetur asperiores quasi aut id.</h3>
                </div>
                <div class="faq-answer">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere cum accusantium tempore aliquid quidem, vero optio pariatur quia quas repellendus.</p>
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-question" id="faq2">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur velit tenetur asperiores quasi aut id.</h3>
                </div>
                <div class="faq-answer">
                    <p>Lorem ipsum dolor sit amet consectetur
                        <a href="https://www.djangoproject.com" target="_blank">adipisicing elit.</a>
                        Consectetur velit tenetur asperiores quasi aut id.
                    </p>
                </div>
            </div>
        </section>
        {% endblock %}
    </main>

    <footer>
        <p>&copy; Django Application</p>

        <div class="social-media">
            <a href="https://www.djangoproject.com" target="_blank" class="social-icon">
                <i class="fab fa-tiktok"></i>
            </a>
            <a href="https://www.djangoproject.com" target="_blank" class="social-icon">
                <i class="fab fa-discord"></i>
            </a>
            <a href="https://www.djangoproject.com" target="_blank" class="social-icon">
                <i class="fab fa-youtube"></i>
            </a>
            <a href="https://www.djangoproject.com" target="_blank" class="social-icon">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </footer>
</body>
</html>
