@import 'abstracts/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: $primary-color;
    color: $font-color;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: var(--bright)
}

.blocks {
    text-align: center;
    padding: 4rem 2rem;
    margin-top: 10rem;
    color: $font-color;

    h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    span {
        color: rgb(150, 34, 34);
    }

    p {
        font-size: 1.25rem;
        margin-bottom: 2rem;
        color: $secondary-color;
    }

    .btn {
        border: 1px solid $secondary-color; 
        background-color: $primary-color;
        color: $font-color;
        margin: 1 rem;
        padding: 0.75rem 1.5rem;
        text-decoration: none;
        font-weight: bold;
        border-radius: 5px;

        &:hover {
            background-color: darken($secondary-color, 30%);
        }
    }
}


.wrapper {
    position: relative;
    overflow: hidden;
    width: 50%;
    padding-top: 28.125%;
    margin: 12rem auto 9rem auto;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border: 1px solid $solid-color;
        border-radius: 8px;
    }
}

.content {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    flex-wrap: wrap;

    .card {
        background-color: $primary-color;
        padding: 1.5rem;
        margin: 1rem;
        border-radius: 10px;
        border: 1px solid $solid-color;
        box-shadow: none;
        flex: 1 1 calc(33.333% - 2rem);
        min-width: 250px;

        h2 {
            margin-bottom: 1rem;
            color: $font-color;
        }

        p {
            color: $secondary-color;
        }
        
        .github {
            opacity: 0.7;
            width: 14%;
            height: auto;

            &:hover {
                opacity: 1;
            }  
        }

        .discord {
            opacity: 0.7;
            width: 42%;
            height: auto;

            &:hover {
                opacity: 1;
            }  
        }

        .soldat {
            opacity: 0.7;
            width: 25%;
            height: auto;

            &:hover {
                opacity: 1;
            }  
        }
    }
}

.faq {
    margin: 7rem auto 1rem;
    max-width: 50rem;
    padding: 1rem;

    h2 {
        display: flex;
        justify-content: center;
        padding: 2rem;
        text-align: center;
        font-size: 2rem;
    }

    .faq-item {
        margin: 1.5rem 0;
        border-radius: 0.5rem;
        overflow: hidden;

        .faq-question {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $primary-color;
            padding: 0.3rem 1.5rem;
            cursor: pointer;

            h3 {
                margin: 0;
                font-size: 1rem;
            }

            .arrow {
                transition: transform 0.2s ease;
            }

            &.expanded .arrow {
                transform: rotate(90deg);
            }

            &.collapsed .arrow {
                transform: rotate(270deg);
            }
        }

        .faq-answer {
            opacity: 0;
            max-height: 0;
            background-color: $primary-color;
            color: $secondary-color;
            transition: opacity 0.2s ease, max-height 0.2s ease;
            padding: 0 1.5rem;
            text-decoration: none;

            &.show {
                opacity: 1;
                max-height: 20rem;
            }

            a {
                color: $secondary-color;

                &:hover {
                    background-color: darken($secondary-color, 30%);
                    border-radius: 3px;
                }
            }
        }
    }
}

.under-constr {
    font-size: 3rem;
    margin-bottom: 30rem;
    padding: 5rem;
    text-align: center;
}